var service = function (status) {
  var result

  switch (status) {
    case 0:
      result = '待审核'
      break;
    case 1:
      result = '待发布'
      break;
    case 2:
      result = '已发布'
      break;
    case 3:
      result = '已下架'
      break;
    case 4:
      result = '已取消'
      break;
    case 5:
      result = '审核不通过'
      break;
    default:
      result = '未知状态'
  }
  return result
}

module.exports = {
  service: service
}